@model List<CategoriesList.CategoriesModel>

@foreach (var category in Model)
{
    <li>
        <a asp-page="/Category/List" asp-route-nameEncoded="@category.NameEncoded">@category.Name</a>
    </li>
}
<li><a asp-page="/Category/List" asp-route-nameEncoded="uncategorized">Uncategorized</a></li>
