@model List<CategoriesList.CategoriesModel>

@foreach (var category in Model)
{
    <li>
        <a asp-page="/Category/List" asp-route-slug="@category.Slug">@category.Name</a>
    </li>
}
<li><a asp-page="/Category/List">Uncategorized</a></li>
