@model List<TagsList.TagsModel>

@foreach (var tag in Model)
{
    <a asp-page="/Tags/List" asp-route-slug="@tag.Slug" class="badge bg-light text-dark border">@tag.Slug</a>
}
<a asp-page="/Tags/List"  asp-route-slug="untagged" class="badge bg-light text-dark border">untagged</a>
